#shoptitle {
    text-align: center;
    margin: 0.25rem 0rem;
}

#buttoncont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#gen-container {
    justify-self: center;
    border-radius: 5px;
    border: 1px solid white;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#result {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
}

#card-container {
  position: relative;
  width: 400px; /* or your card width */
  height: 400px; /* or your card height */
  margin: 0 auto; /* center horizontally if you want */
}

frog-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

pack-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    #gen-container {
      width: 98%;          /* Uses 90% of screen width */
      max-width: 100%;
    }
}