#shoptitle {
    text-align: center;
    margin: 0.25rem 0rem;
}

#buttoncont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#button-row { /* when add points button is removed, delete this and change flex direction to row in #buttoncont*/
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#gen-container {
    justify-self: center;
    border-radius: 5px;
    border: 1px solid white;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#result {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
}

#card-container {
  position: relative;
  width: 400px; /* or your card width */
  height: 400px; /* or your card height */
  margin: 0 auto; /* center horizontally if you want */
}

frog-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

pack-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
}

.tooltip-icon {
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  padding: 3px 4px;
  background-color: #a1a1a1;
  border: 1px solid #ffffff;
  margin-left: 1rem;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 170%; /* Show above the icon */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
    #gen-container {
      width: 98%;          /* Uses 90% of screen width */
      max-width: 100%;
    }
}