/* @keyframes shrinkGrow {
  0% {
    opacity: 0;
    transform: translateY(-15px) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(0.55);
  }
} */

#clicker-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#clicker-button {
  transform: scale(1);
  transform-origin: center;
  width: 300px;
  aspect-ratio: 1 / 1;
  min-block-size: 1vh;
  overflow: visible;
  border-radius: 50%;
  
}
.tooltip-container {
  align-items: center;
  justify-self: center;
  cursor: pointer;
  margin-top: 0.5rem;
}

.tooltip-icon {
  font-weight: bold;
  font-size: 100%;
  border-radius: 50%;
  padding: 0rem 0.3rem;
  background-color: #a1a1a1;
  border: 0.1rem solid #ffffff;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #333;
  color: #fff;
  border-radius: 0.2rem;
  text-align: center;
  padding: 1rem 1rem;
  position: absolute;
  z-index: 1;
  transform: translateX(-45%);
  transition: opacity 0.3s;
  white-space: nowrap;
  font-family: Tahoma, sans-serif;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 350px) {
  #clicker-button {
    width: 85vw;
  }
}
.bonus-popup {
  position: absolute;
  padding: 15px 25px;
  background-color: gold;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid orange;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 200, 0, 0.8);
  z-index: 1000;
  animation: popup-fadein 0.2s ease-out;
}

@keyframes popup-fadein {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

