/* @keyframes shrinkGrow {
  0% {
    opacity: 0;
    transform: translateY(-15px) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(0.55);
  }
} */

#clicker-comp {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#clicker-button {
  transform: scale(1);
  transform-origin: center;
  position: absolute;
  width: 300px;
  aspect-ratio: 1 / 1;
  min-block-size: 1vh;
  overflow: visible;
  margin-top: 100px;
  border-radius: 50%;
  
}

@media (max-width: 350px) {
  #clicker-button {
    width: 85vw;
  }
}
.bonus-popup {
  position: absolute;
  padding: 15px 25px;
  background-color: gold;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid orange;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 200, 0, 0.8);
  z-index: 1000;
  animation: popup-fadein 0.2s ease-out;
}

@keyframes popup-fadein {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

