.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 12px; 
  /* row-gap: 4px;  */
  padding: 20px 40px; 
  row-gap: 10px; 
  justify-items: center;
}

.grid-container frog-card {
  transform: scale(0.5);
  transform-origin: top center;
  height: 200px;
  overflow: visible;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
